<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <img
          src="https://res.cloudinary.com/dqvkg85dl/image/upload/v1749956270/logo_hhkxo8.svg"
          alt="matheus fernandes rodrifgues"
        />
        <p>Transformando ideias em soluções digitais de sucesso.</p>
        <div class="footer-social">
          <a href="#" class="social-link">
            <i class="icon-linkedin"></i>
          </a>
          <!-- <a href="#" class="social-link">
            <i class="icon-instagram"></i>
          </a> -->
          <a href="#" class="social-link">
            <i class="icon-github"></i>
          </a>
        </div>
      </div>

      <div class="footer-section">
        <h4>Serviços</h4>
        <ul>
          <li><a>Sites e Landing Pages</a></li>
          <li><a>E-commerce</a></li>
          <li><a>Aplicativos Web</a></li>
          <li><a>Consultoria</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h4>Empresa</h4>
        <ul>
          <li><a>Sobre Nós</a></li>
          <li><a>Depoimentos</a></li>
          <li><a>Contato</a></li>
          <li><a>Política de Privacidade</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h4>Contato</h4>
        <p>matheusfernandesrodrigues&#64;outlook.com</p>

        <p>(11) 97535-9143</p>
        <p>São Paulo, SP</p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 Code By Fernandes. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
