<header class="header">
  <span class="container">
    <h1 (click)="goToPath('')" >CODEBYFERNANDES</h1>
  <span class="nav">
  <ul class="nav_bar_links">
    <li><a routerLink="/" routerLinkActive="active">Início</a></li>
    <li><a routerLink="/about" routerLinkActive="active">Sobre</a></li>
    <li><a routerLink="/projects" routerLinkActive="active">Projetos</a></li>
    <li><a routerLink="/experiences" routerLinkActive="active">Experiências</a></li>
  </ul>
  <ul class="nav_info">
    <li><a href="https://github.com/Fernandeess"><i class="pi pi-github" style="font-size: 1.5rem"></i></a></li>
    <li><a href="https://www.linkedin.com/in/matheus-fernandeess/"><i class="pi pi-linkedin" style="font-size: 1.5rem"></i></a></li>
    <li><a href=""><i class="pi pi-envelope" style="font-size: 1.5rem"></i></a></li>
  </ul>
</span>
  </span>
</header>
