<header class="header">
  <nav class="nav-container">
    <div class="logo link-item" (click)="navigationUtils.goToPath('/')">
      <img
        src="https://res.cloudinary.com/dqvkg85dl/image/upload/v1749956270/logo_hhkxo8.svg"
        alt=""
      />
    </div>
    <div class="nav-links">
      @if(isInservice){ }@else if (!isInservice) {
      <a href="#home">Início</a>
      <a href="#experiences">Experiências</a>
      <a href="#projects">Projetos</a>
      <a href="#about">Sobre</a>
      <a (click)="navigationUtils.goToPath('services')">Serviços</a>

      }
    </div>
    <a
      href="https://api.whatsapp.com/send/?phone=5511975359143&text&type=phone_number&app_absent=0"
      class="cta-button"
    >
      Solicitar Orçamento
    </a>
  </nav>
</header>
