<header class="header">
  <span class="container">
    <h1>CODEBYFERNANDES</h1>
  <span class="nav">
  <ul class="nav_bar_links">
      <li>Início</li>
      <li>Sobre</li>
      <li>Projetos</li>
      <li>Expêriencias</li>
  </ul>
  <ul class="nav_info">
    <li><i class="pi pi-github" style="font-size: 1.5rem"></i></li>
      <li><i class="pi pi-linkedin" style="font-size: 1.5rem"></i></li>
        <li><i class="pi pi-envelope" style="font-size: 1.5rem"></i></li>
  </ul>
</span>
  </span>
</header>
