@import "../../../variables.scss";

.project-content {
  display: flex;
  justify-content: start;
  align-items: start;

  max-width: 1000px;
  height: fit-content;
  min-height: 200px;

  img {
    margin-right: 10px;
    max-width: 320px;
    height: 200px;
    max-height: 250px;
    object-fit: contain;
  }

  .project-context {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    max-width: 670px;
    min-height: 200px;
    margin-left: 10px;


    .btnGroup {
      display: flex;
      list-style: none;
      margin: 15px 0px;
      padding: 0px;
      gap: 5px;
      .btn{
        background-color: $secondary-color;
      }
      li{
        span{
          margin-left: 5px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
        }
      }

    }


    .header {
      display: flex;
      align-items: center;
    }

    .title {
      color: $white;
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 1.5rem;
    }

    .description {
      color: $white;
      margin: 0px;
      width: fit-content;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .list-tech {
      display: flex;
      flex-wrap: wrap;
      margin: 0px;
      padding: 0px;
      list-style: none;
      gap: 10px;

      li {
        font-size: 0.875rem;
      }

    }
  }
}

@media (max-width: 768px) {
  .project-content {
    flex-direction: column;
    align-items: center;

    img {
      margin: 0 auto 10px auto;
    }
  }

  .project-context {
    text-align: center;
    align-items: center;

    .title {
      font-size: 1.25rem;
    }

    .list-tech {
      justify-content: center;
      gap: 5px;
    }
  }}


@media (max-width: 480px) {
  .project-content {
    margin: 10px;
  }

  .project-context {
    .title {
      font-size: 1rem;
    }

    .description {
      font-size: 0.875rem;
    }

    .list-tech li {
      font-size: 0.75rem;
    }
  }
}
