<div
  id="about"
  class="container-about animate__animated animate__slower animate__fadeInLeft"
>
  <div class="about">
    <div class="header-container">
      <img
        src="../../../assets/img/user.svg"
        alt="Tecnologias"
        class="header-image"
      />
      <h1>Sobre</h1>
    </div>
    <div class="about-content">
      <div class="text">
        <p>
          Sou Desenvolvedor Java Full-Stack com experiência em APIs REST e
          plataformas web, utilizando tecnologias como Java, Angular, Docker e
          AWS. Tenho um perfil focado em boas práticas de programação e soluções
          escaláveis.
        </p>
      </div>
      <div class="image">
        <img src="../../../assets/img/perfil.jpg" alt="Minha Foto" />
      </div>
    </div>
    <p>
      Sou formado em Análise e Desenvolvimento de Sistemas (2024) pela São Paulo
      Tech School e atualmente curso pós-graduação em Arquitetura de Software
      pela FIAP. Busco constantemente aprimorar meus conhecimentos e entregar
      soluções de alta qualidade, atendendo às necessidades dos clientes de
      forma inovadora e eficiente.
    </p>
  </div>
</div>
