<div class="container-about">
  <div class="about">
    <h2>Sobre Mim</h2>
    <p>
      Desenvolvedor Java Full-Stack com sólida experiência em desenvolvimento de APIs REST e construção de plataformas web robustas. Detentor de um perfil alinhado às melhores práticas de programação, sou capaz de criar soluções personalizadas e escaláveis utilizando um conjunto diversificado de tecnologias, incluindo Java, Angular, Docker e AWS.
    </p>
    <p>Formado em Análise e Desenvolvimento de Sistemas em 2024, busco constantemente aprimorar meus conhecimentos e aplicar as mais recentes tendências do mercado. Minha paixão por tecnologia e minha habilidade em resolver problemas complexos me impulsionam a entregar projetos de alta qualidade e que atendam às necessidades dos clientes.</p>
  </div>
</div>
