<div class="home animate__animated animate_slower animate__fadeInDown">
  <div class="default_container">
    <div>
      <div class="hero">
        <span class="name">
          <img
            src="https://res.cloudinary.com/dqvkg85dl/image/upload/v1734265553/hero-name_csohh6.svg"
            alt=""
          />
        </span>
        <span class="profile">
          <img
            src="https://res.cloudinary.com/dqvkg85dl/image/upload/v1734265553/profile_spj4l6.jpg"
            alt=""
          />
        </span>
      </div>
      <div class="techImages">
        <div class="content">
          <div class="header-container">
            <img
              src="https://res.cloudinary.com/dqvkg85dl/image/upload/v1749956270/layers_r1z2yp.svg"
              alt="Tecnologias"
              class="header-image"
            />
            <h1>Tecnologias</h1>
          </div>
          <ul class="images">
            @for (icon of techImages; track $index) {
            <li>
              <app-tech-icons [iconPath]="icon.url" [alt]="icon.alt" />
            </li>
            }
          </ul>
        </div>
      </div>

      <app-experiences></app-experiences>
      <app-projects></app-projects>
      <app-about></app-about>
    </div>
  </div>
</div>
