<section class="default_container">
  <div class="hero">
    <span class="name">
      <img src="https://res.cloudinary.com/dqvkg85dl/image/upload/v1734265553/hero-name_csohh6.svg" alt="">
    </span>
    <span class="profile">
      <img src="https://res.cloudinary.com/dqvkg85dl/image/upload/v1734265553/profile_spj4l6.jpg" alt="" />
    </span>
  </div>
  <div class="techImages">

    <div class="content">
      <h1>Tecnologias</h1>
      <ul class="images">
        @for (icon of techImages; track $index) {
          <li>
          <app-tech-icons [iconPath]="icon.url" [alt]="icon.alt"/>
          </li>
        }
      </ul>
    </div>
  </div>
</section>
