<section
  id="projects"
  class="default_container animate__animated animate_slower animate__fadeInLeft"
>
  <div class="header-container">
    <img
      src="https://res.cloudinary.com/dqvkg85dl/image/upload/v1749956270/folder_uviqlx.svg"
      alt="Tecnologias"
      class="header-image"
    />
    <h1>Projetos</h1>
  </div>
  <ul class="list-projects">
    @for (project of projetos; track $index) {
    <li>
      <app-project
        [name]="project.name"
        [image]="project.image"
        [description]="project.description"
        [tecnologias]="project.tecnologias"
        [repository]="project.repository"
        [deploy]="project.deploy"
      />
    </li>
    }
  </ul>
</section>
