@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "variables.scss";


body{
   background-color: $primary-color;
  color: $white;
  color: $text-primary;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

.default_container
{
  width: 70vw;
  section{

    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: column;
  }
}

button {
  background-color: $primary-color;
  color: $white;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.alert {
  &--success {
    color: $success-color;
  }
  &--error {
    color: $error-color;
  }
}



.p-timeline .p-timeline-event-marker {
  border: none !important;
}

.p-card-body{
  padding: 0px;

}
.p-card-content{
  padding-top: 0px;
}
