$primary-color: #040916;
$secondary-color: #007bff;
$third-color: #472ba3;
$white: #ffffff;
$black: #000000;
$success-color: #4caf50;
$error-color: #f44336;
$text-primary: #212121;
$text-secondary: #757575;
